body {
  background-image: url("../images/purplebackground.jpg");
  background-position: center;
  background-size: cover;
  font-family: Comfortaa;
  font-size: 15pt;
}

.navBar {
  align-items: center;
  background-color: #b7023f;
  box-shadow: 1px 8px 7px rgba(0, 0, 0, 0.3);;
  color: #e7dd96;
  display: flex;
  height: 40px;
  justify-content: space-evenly;
  padding-bottom: 4px;
}

a {
  padding: 8px;
}

a:link {
  text-decoration: none;
}

a:visited, a:link, span {
  color: #f0c505;
}

a:hover {
  color: #f76e2a;
}

.socialMedia {
  padding-left: 30%;
}

.socialMedia, span {
  align-items: baseline;
  display: flex;
  font-size: 11pt;
  justify-content: space-between;
  margin-bottom: 0;
}

.aboutMe {
  align-items: center;
  display: flex;
  padding: 20px;
  color: #f0c505;
  flex-direction: row;
  font-family: Nunito;
  font-size: 30pt !important;
  justify-content: space-between;
  text-align: left;
  text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.400);
}

.aboutMeConteiner {
  display: flex;
  height: 600px;
}

.aboutMeConteiner img {
  width: auto;
}